# UpCoach Grafana Datasource Configuration

apiVersion: 1

datasources:
  # Prometheus - Primary metrics store
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    uid: prometheus
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.47.0"

  # PostgreSQL - Direct database queries
  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    uid: postgres
    database: upcoach
    user: ${POSTGRES_USER}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    editable: false

  # CloudWatch - AWS Metrics (if using AWS)
  - name: CloudWatch
    type: cloudwatch
    uid: cloudwatch
    jsonData:
      authType: keys
      defaultRegion: us-east-1
    secureJsonData:
      accessKey: ${AWS_ACCESS_KEY_ID}
      secretKey: ${AWS_SECRET_ACCESS_KEY}
    editable: false

  # Loki - Log aggregation (if configured)
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki
    jsonData:
      maxLines: 1000
    editable: false
