<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upcoach.instant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".InstantHabitCheckInActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Deep link for habit check-in -->
                <data
                    android:scheme="https"
                    android:host="upcoach.app"
                    android:pathPrefix="/habit" />

                <data
                    android:scheme="http"
                    android:host="upcoach.app"
                    android:pathPrefix="/habit" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://upcoach.app/habit" />
        </activity>
    </application>
</manifest>
